---
import Layout from "@layouts/Layout.astro";
import AboutHeader from "@components/AboutHeader.astro";
import AboutText from "@components/AboutText.astro";
import contents from "@content";
import Image1 from "@sections/Image1.astro";
import Media from "@sections/Media.astro";
import Image2 from "@sections/Image2.astro";
import Image3 from "@sections/Image3.astro";
import Image4 from "@sections/Image4.astro";
import Card from "@components/Card.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Learn more about Ableton">
  <main>
    <AboutHeader />

    <section>
      <AboutText title={contents[0].title} text={contents[0].text} />
      <Image1 />
    </section>

    <section>
      <AboutText title={contents[1].title} text={contents[1].text} />
      <Media />
    </section>

    <section>
      <AboutText
        title={contents[2].title}
        text={contents[2].text}
        changeBalance
      />

      <Image2 />
    </section>

    <section>
      <AboutText
        title={contents[3].title}
        text={contents[3].text}
        changeBalance
      />

      <Image3 />
    </section>

    <section>
      <AboutText
        title={contents[4].title}
        text={contents[4].text1}
        text2={contents[4].text2}
        changeBalance
      />
      <Image4 />
    </section>

    <section>
      <AboutText
        title={contents[5].title}
        text={contents[5].text}
        changeBalance
      />
      <Card />
    </section>

    <Footer />
  </main></Layout
>

<style>
  main,
  section {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  section:nth-child(3) {
    max-width: var(--max-width);
    margin-inline: auto;
    gap: 60px;
  }

  @media screen and (max-width: 800px) {
    main,
    section {
      gap: 60px;
    }
  }
</style>
